<!DOCTYPE html>
<html>
<head>
    <title>Mark Attendance</title>
</head>
<body>

<h1>Mark Attendance</h1>

<form method="POST">

    {% csrf_token %}

    <label>Employee</label>

    <select name="employee">

        {% for employee in employees %}
        <option value="{{ employee.id }}">
            {{ employee.name }}
        </option>
        {% endfor %}

    </select>

    <br><br>

    <label>Date</label>
    <input type="date" name="date">

    <br><br>

    <label>Status</label>

    <select name="status">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
    </select>

    <br><br>

    <button type="submit">Save Attendance</button>

</form>

</body>
</html>